/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*flex settings*/
.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-j-between{
    display: flex;
    justify-content: space-between;
}

.flex-j-center{
    display: flex;
    justify-content: center;
}

.flex-ai-center{
    display: flex;
    align-items: center;
}
/*end flex settings*/

body{
    font-family:'Open Sans', sans-serif;
}

header{
    height: 80px;
    font-size: 15px;
}

main .jumbotron{
    height: 700px;
    background-color: rgb(180, 208, 231);
}

main .container{
    height: 1700px;
    background-color: rgb(255, 255, 255);
}

main .find-a-partner{
    height: 550px;
    background-color: red;
}

main .operations{
    height: 1360px;
    background-color: bisque;
}

main .clients{
    height: 400px;
    background-color: chocolate;
}

main .designit{
    height: 400px;
    background-color: darkcyan;
}

main .db-business{
    height: 200px;
    background-color: rgb(180, 208, 231);
}

main .faq{
    height: 680px;
}

footer{
    height: 400px;
    background-color: black;
    color: white;
}

/*header*/
header div p{
    margin-right: 1.5rem;
}

header .head-left p:first-child{
    margin-left: 1.5rem;
}

header .head-right button{
    height: 35px;
    width: 70px;
    background-color: rgb(0, 97, 255);
    color: white;
    border: none;
}
/*end header*/

/*main*/
/*jumbotron*/
.container-big {
    width: 1200px;
    height: 750px;
    margin: 0 auto;
}

main .jumbotron h1{
    padding: 3rem 0;
    font-weight: 900;
    font-size: 70px;
}

.jumbo-img{
    width: 57%;
}

.jumbo-img img{
    width: 125%;
}

main .jumbotron .jumbo .jumbo-text{
    font-size: 17px;
    width: 30%;
}

main .jumbotron .jumbo-text button{
    height: 35px;
    width: 170px;
    background-color: rgb(0, 97, 255);
    color: white;
    border: none;
}

main .jumbotron .jumbo .jumbo-text p{
    padding-bottom: 1rem;
}

.jumbo-text .annulla{
    padding-top: 2rem;
}

.fa-arrow-down{
    padding-top: 3rem;
    font-size: 50px;
    font-weight: bold;
}
/*fine jumbotron*/

/*container*/
.container{
    width: 900px;
    margin: 0 auto;
}

main .container .business-title h1{
    font-weight: bold;
    font-size: 40px;
    padding-top: 8rem;
}

main .container .business-title .fatturazione p{
    font-size: 14px;
    padding: 2.5rem 2.5rem 2.5rem 0rem;    
}

main .container .columns .professional,
main .container .columns .advanced,
main .container .columns .enterprise-azienda{
    border-color: rgba(202, 202, 202, 0.774);
    border-style: solid ;
    border-width: 1px;
}

main .columns .target{
    border-bottom: rgba(202, 202, 202, 0.774);
    border-width: 1px;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-left: none;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*spazio e posizionamento delle colonne rispettivamente una accanto all'altra*/
main .container .columns {
    display: flex;
    justify-content: space-between;
}

main .container .columns .advanced{
    margin-right: 2rem;
}

main .container .columns .professional{
    margin-right: 2rem;
}

/*dettagli testi delle colonne*/
main .columns div .column-info button{
    height: 2.5rem;
    width: 12rem;
    background-color: rgb(0, 97, 255);
    color: white;
    border: none;
}

main .columns div .column-info{
    padding: 1.5rem;
}

.column-info h1,
.column-info h2,
.column-info dl,
.column-info dl p,
.column-info button{
    margin-bottom: 1.25rem; 
}

.column-info h2{
    font-size: 15px;
}

.column-info h1{
    font-size: 22px;
}

.column-info .cost{
    margin-bottom: 2.5rem;
    color: grey;
}

.small-line{ 
        width: 60px;
        height: 1px;
        background-color: rgba(202, 202, 202, 0.774);
        margin: 3rem 0;
}

ul {
    list-style: none;
    font-size: 15px;
}

li{
    margin-bottom: 1rem;
}

dl{
    font-size: 13px;
}
    /*dettagli colonna orizzontale*/
main .business-plan .horizontal-column .enterprise-team{
    border-color: rgba(202, 202, 202, 0.774);
    border-style: solid ;
    border-width: 1px;
    margin-top: 2rem;
}

main .business-plan .horizontal-column .enterprise-team .target{
    border-bottom: rgba(202, 202, 202, 0.774);
    border-width: 1px;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: center;
}



    /*finedettagli colonna orizzontale*/
/*fine dettagli testi delle colonne*/

