/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*flex settings*/
.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-j-between{
    display: flex;
    justify-content: space-between;
}

.flex-j-center{
    display: flex;
    justify-content: center;
}

.flex-ai-center{
    display: flex;
    align-items: center;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}
/*end flex settings*/

body{
    font-family:'Open Sans', sans-serif;
}

header{
    height: 80px;
    font-size: 15px;
}

main .jumbotron{
    height: 700px;
    background-color: rgb(180, 208, 231);
}

main .find-a-partner .container{
    height: 550px;
}

main .operations{
    height: 1200px;
}

main .db-business{
    height: 250px;
    background-color: rgb(180, 208, 231);
}

main .faq{
    height: 600px;
}

footer{
    height: 400px;
    background-color: black;
    color: white;
}

/*header*/
header div p{
    margin-right: 1.5rem;
}

header .head-left p:first-child{
    margin-left: 1.5rem;
}

header .head-right button{
    height: 35px;
    width: 70px;
    background-color: rgb(0, 97, 255);
    color: white;
    border: none;
}
/*end header*/

/*main*/
/*jumbotron*/
.container-big {
    width: 1200px;
    height: 750px;
    margin: 0 auto;
}

main .jumbotron h1{
    padding: 3rem 0;
    font-weight: 900;
    font-size: 70px;
}

.jumbo-img{
    width: 57%;
}

.jumbo-img img{
    width: 125%;
}

main .jumbotron .jumbo .jumbo-text{
    font-size: 17px;
    width: 30%;
}

main .jumbotron .jumbo-text button{
    height: 35px;
    width: 170px;
    background-color: rgb(0, 97, 255);
    color: white;
    border: none;
}

main .jumbotron .jumbo .jumbo-text p{
    padding-bottom: 1rem;
}

.jumbo-text .annulla{
    padding-top: 2rem;
}

.fa-arrow-down{
    padding-top: 3rem;
    font-size: 50px;
    font-weight: bold;
}
/*fine jumbotron*/

/*container*/
.container{
    width: 900px;
    margin: 0 auto;
}

main .container .business-title h1{
    font-weight: bold;
    font-size: 40px;
    padding-top: 8rem;
}

main .container .business-title .fatturazione p{
    font-size: 14px;
    padding: 2.5rem 2.5rem 2.5rem 0rem;    
}

main .container .columns .professional,
main .container .columns .advanced,
main .container .columns .enterprise-azienda{
    border-color: rgba(202, 202, 202, 0.774);
    border-style: solid ;
    border-width: 1px;
}

main .columns .target{
    border-bottom: rgba(202, 202, 202, 0.774);
    border-width: 1px;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-left: none;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*spazio e posizionamento delle colonne rispettivamente una accanto all'altra*/
main .container .columns {
    display: flex;
    justify-content: space-between;
}

main .container .columns > *{
    flex-basis: 30%;
}

/*dettagli testi delle colonne*/
main .columns div .column-info button{
    height: 2.5rem;
    width: 12rem;
    background-color: rgb(0, 97, 255);
    color: white;
    border: none;
}

main .columns div .column-info{
    padding: 1.5rem;
}

.column-info h1,
.column-info h2,
.column-info dl,
.column-info dl p,
.column-info button{
    margin-bottom: 1.25rem; 
}

main .business-plan .container .columns .professional dl{
    margin-bottom: 2.5rem;
}

.column-info h2{
    font-size: 15px;
}

.column-info h1{
    font-size: 22px;
}

.column-info .cost{
    margin-bottom: 2.5rem;
    color: grey;
}

.small-line{ 
        width: 60px;
        height: 1px;
        background-color: rgba(202, 202, 202, 0.774);
        margin: 3rem 0;
}

ul {
    list-style: none;
}

li{
    margin-bottom: 1rem;
    font-size: 13px;
}

dl{
    font-size: 13px;
}

.columns .column-info p{
    font-size: 13px;
}
    /*dettagli (4) colonna orizzontale*/
main .business-plan .horizontal-column .enterprise-team{
    border-color: rgba(202, 202, 202, 0.774);
    border-style: solid ;
    border-width: 1px;
    margin-top: 2rem;
}

main .business-plan .horizontal-column .enterprise-team .target{
    border-bottom: rgba(202, 202, 202, 0.774);
    border-width: 1px;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: center;
    height: 2.5rem;
    line-height: 2.5rem;
}

main .business-plan .horizontal-column .enterprise-team .column-info{
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

main .business-plan .horizontal-column .enterprise-team .column-info button{
    height: 2.5rem;
    width: 12rem;
    background-color: rgb(0, 97, 255);
    color: white;
    border: black;
    position: relative;
    bottom: 8rem;
    left: 41.3rem;
}

main .business-plan .horizontal-column .enterprise-team .column-info p{
    font-size: 13px;
}

main .business-plan .horizontal-column{
    margin-bottom: 4rem;
}
    /*finedettagli colonna orizzontale*/
/*fine dettagli testi delle colonne*/

/*inizio find a partner*/
main .find-a-partner .container .col-left{
    width: 65%;
    height: 100%;
}

main .find-a-partner .container .col-left img{
    width: 100%; 
    height: 100%;
    object-fit: cover;    
}

    /*fine col-left e inizio col-right*/

main .find-a-partner .container .col-right{
    width: 35%;
    height: 100%;
}

main .find-a-partner .container .col-right h1{
    font-size: 22px;
    font-weight: bolder;
    padding-bottom: 1.5rem;
}

main .find-a-partner .container .col-right p{
    font-size: 14px;
    padding-bottom: 2rem;
}

main .find-a-partner .container .col-right button{
    width: 8.5rem;
    height: 2.7rem;
    font-size: 15px;
    background-color: white;
}

main .find-a-partner .container .col-right .left-text{
    padding: 4rem 2rem; 
}
/*fine find a partner*/

/*inizio operations*/
/*operations-title*/
main .operations .operations-title{
    height: 15%;
}

main .operations .operations-title h1{
    padding-top: 5rem;
    padding-bottom: 2rem;
    font-size: 30px;
}
/*fine operations-title*/
/*inizio operations-columns*/

main .operations .six-col .top-columns > *{
    width: calc(90% / 3);
    margin-bottom: 2rem;
}


main .operations .six-col .bottom-columns > *{
    width: calc(90% / 3);
}

main .operations .six-col img{
    width: 100%; 
    height: auto;
    object-fit: cover; 
}

main .operations .six-col .top-columns article p{
    font-size: 14px;
    padding-top: 1rem;
}

main .operations .six-col .bottom-columns article p{
    font-size: 14px;
    padding-top: 1rem;
}

main .operations .six-col .top-columns article h1{
    font-size: 20px;
}

main .operations .six-col .bottom-columns article h1{
    font-size: 20px;
}
/*fine operations*/
/*inizio clients*/

main .clients .clients-text{
    display: flex;
    align-items: center;
}

main .clients .clients-text h1{
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: 2rem;
}

main .clients .clients-text p{
    color: rgb(88, 4, 238);
    position: absolute;
    padding-top: 11rem;
}

main .clients{
    height: 220px;
}
/*fine clients*/
/*inizio designit*/
main .designit{
    height: 400px;
    width: 100%;
}

.designit .col{
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.designit .col .image{
    height: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.designit .col .image img{
    width: 50%;
    filter: invert();
}

.designit .col p{
    font-size: 13px;
}

.designit .col .writer{
    padding-bottom: 6rem;
}

main .designit .col:nth-child(2){
    background-color: rgb(245, 245, 245);
    padding: 1rem 1.5rem;
}
/*colori sfondi dei quadrati*/
.bg-green{
    background-color: rgb(162, 211, 155);
}

.bg-darkred{
    background-color: rgb(97, 8, 43);
}

.bg-azzure{
    background-color: rgb(0, 147, 206);
}

.bg-lightred{
    background-color: rgb(255, 28, 28);
}

.bg-red{
    background-color: rgb(213, 0, 31);
}

.bg-lightazzure{
    background-color: rgb(180, 208, 231);
}

.bg-blue{
    background-color: rgb(13, 36, 129);
}

.bg-yellow{
    background-color: rgb(255, 216, 48);
}
/*designit finito*/
/*db-business*/
.db-business .container{
    height: 100%;
}

.db-business .container .col-right button{
    height: 2rem;
    width: 14rem;
    border: none;
    background-color: white;
}

.db-business .container .col-left h1{
    font-size: 30px;
    font-weight: bolder;
    color: rgb(97, 8, 43);
}
/*fine db-business*/
/*faq*/
.faq .container h1{
    font-size: 30px;
    font-weight: bolder;
    padding-bottom: 4rem;
}

.faq .container .question{
    height: 80px;
}
